<%- include('../partials/header') -%>

<div class="container pag-pieza">
  <% 
  pieza = data.data['piezas'][0];
  creador = pieza['dep']['creador'][0]
  descriptores = pieza['descriptores'].split(", ");

  console.log('Pieza', pieza)

%>
  <!-- Imagen del fondo -->
  <section class="section-fondo img-fondo top">
    <img class="s3_img" src="<%=pieza['imagen_path']%>">
  </section>

  <!-- Titulo y datos básicos -->
  <section class="half-top section-fondo intro-pieza">
    <h2>
      <%=pieza['titulo']%>  
    </h2>
    <p class="italic"> 
      <%=creador['nombre']%>  
      (<%=pieza['fecha']%>)
    </p> 

    <ul class="datos-basicos">
      <li><b> Técnicas: </b> <%=pieza['tecnicas']%></li>
      <li><b> Materiales: </b><%=pieza['materiales']%></li>
      <li><b> Dimensiones: </b> 
        <%=pieza['ancho']%> x
        <%=pieza['alto']%> x
        <%=pieza['espesor']%>
      </li>
    </ul>

    <ul class="descriptores">
    <% for(var i = 0; i < descriptores.length; i++) { %>
      <li> <%=descriptores[i]%> </li>
    <% } %>
    </ul>
  </section>

  <section class="section-fondo top">
    <h2>
      Descripción
    </h2>
    <p>
      <%=pieza['relato_pieza']%>
    </p>

  </section>

</div>

<%- include('../partials/footer') -%>