<%- include('./partials/header') -%> 
<div class="error-container">
    <div class="error">
        <h1 style="color: red; display: inline-block;">ERROR</h1> <h1 style="display: inline-block;"><%= data.error.errno %></h1>
        <h4><%= data.error.name %></h4>
        <p><%= data.message %></p>
    </div>
</div>
<%- include('./partials/footer') -%>