<%- include('../../partials/header') -%>
<link rel="stylesheet" href="/stylesheets/admin.css">
<% 
coleccion = data['colecciones'][0];
var tipos = ['público', 'privado', 'mixto'];
 %>

<div class="form-class"> 
    <form action="/admin/colecciones/edit/<%=coleccion['id']%>?_method=PUT" method="post">
        <h3>Editar Colección</h3>
        <table>
            <tr>
                <td><label for="pass">nombre</label></td>
                <td><input type="text" name="obj[nombre]" class="text-input" required value="<%=coleccion['nombre']%>"></td>
            </tr>
            <tr>
                <td><label for="pass">código</label></td>
                <td><input type="text" name="obj[codigo]" class="text-input" value="<%=coleccion['codigo']%>"></td>
            </tr>
            <tr>
                <td><label for="pass">tipo (actual: <%=tipos[coleccion['tipo']]%>)</label></td>
                <td>
                    <select id="tipo" name="obj[tipo]">
                        <option value="0">público</option>
                        <option value="1">privado</option>
                        <option value="2">mixto</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="cantidad">Cantidad de <br> piezas</label></td>
                <td><input type="number" name="obj[cantidad_piezas]" id=""  class="text-input" value="<%=coleccion['cantidad_piezas']%>"></td>
            </tr>
            <tr>
                <td><label for="pass">Año de creación</label></td>
                <td><input type="text" name="obj[creacion]" class="text-input" value="<%=coleccion['creacion']%>"></td>
            </tr>
            <tr>
                <td><label for="pass">Contexto</label></td>
                <td><textarea name="obj[contexto]" id="" cols="33" rows="7"><%=coleccion['contexto']%></textarea></td>
            </tr>
            <tr>
                <td><label for="pass">documentos</label></td>
                <td>
                    <button id="myBtn" style="width: 100%;"> modificar documentos </button>
                    <input id="json-input" type="text" id="json-input" name="obj[documentos_json]" class="text-input" value="<%=coleccion['documentos_json']%>">
                </td>
            </tr>
            <tr>
                <td><label for="pass">creador id</label><a href="/admin/creadores" target="_blank"> (Ver Creadores)</a></td>
                <td><input type="number" name="obj[fk_creador]" class="text-input" required value="<%=coleccion['fk_creador']%>"></td>
            </tr>
            <tr>
                <td><label for="pass">lugar id</label><a href="/admin/lugares" target="_blank"> (Ver Lugares)</a></td>
                <td><input type="number" name="obj[fk_lugar]" class="text-input" required value="<%=coleccion['fk_lugar']%>"></td>
            </tr>
            
            </table>
        <br>
        <button type="submit">Editar</button>
        <br>
        <a href="/admin/colecciones">
            Cancelar
        </a>
    </form>
    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="scroll">
            <table id="myTable" style="width: 100%;">
            </table>
        </div>
            <button id="myBtnAdd" style="margin-left: 20px;">+</button>
            <button id="myBtnAcc" style="margin-left: 20px;">Aceptar</button>
        </div>

    </div>
    <script src="/scripts/jsonParser.js" type="text/javascript"></script>
    <script> 
        //parseJsonObj("myTable", "json-input", "myModal", "myBtn", "myBtnAdd", "myBtnAcc", "close");
        var documentParser = new JsonParser("myTable", "json-input", "myModal", "myBtn", "myBtnAdd", "myBtnAcc", "close", {'name':'', 'url': ''});
        documentParser.WorkParser();
    </script>
</div>