<%- include('../partials/header') -%>

<div class="container pag-fondo">
  <% 
  fondo = data.data[data.data['main']][0];
  %>

  <!-- Imagen del fondo -->
  <section class="section-fondo img-fondo top">
    <img class="s3_img" src="<%=fondo['imagen_path']%>" alt="">    
  </section>

  <!-- Titulo, lugar y reseña -->
  <section class="top section-fondo intro-fondo">

    <h3>
      <%=fondo['dep'].lugar[0].departamento%>, 
      <%=fondo['dep'].lugar[0].localidad%>  
    </h3>

    <h2>
      <%=fondo['nombre']%>  
    </h2>

    <p class="dos-col">
      <%=fondo['resena']%>  
    </p>

  </section>

  <section class="top section-fondo piezas-fondo">
    <h2>
      Piezas
    </h2>
  </section>

  <section class="top btm section-fondo contexto-fondo">
    <h2>
      Contexto sociopolitico
    </h2>

    <div class="row">
      <div class="col col-12 col-lg-6 texto">
        
        <p>
          <%
          var txt = fondo['sociopolitico'].substring(0, 1000) + "...";
          txt = txt.substr(0, Math.min(txt.length, txt.lastIndexOf(" "))) + "...";
          %>
          <%=txt%>
        </p>

        <button class ="btn blue">
          Conocer más
        </button>

      </div>

      <div class="col col-12 col-lg-6">
        <img src="/img/500x600.png">

      </div>
    </div>

  </section>

  <section class="top section-fondo caracterizacion-fondo">
    
    <img class="mx-auto" src="/img/700x500.png">

    <h2>
      Caracterización del colectivo
    </h2>  

    <p class="dos-col">
      <%=fondo['caracterizacion']%>  
    </p>

  </section>

  <section class="top section-fondo documentos-fondo">
    <h2>
      Documentos y enlaces asociados
    </h2>
  </section>

  

</div>

<script src="/scripts/s3ImageUrl.js"></script>

<%- include('../partials/footer') -%>

<!-- <div class="container" style="width: 50%; padding: 20px 4vw">
  <% 
  fondo = data.data[data.data['main']][0];
  %>
  <img src="<%=fondo['imagen_path']%>" alt="" class="s3_img" width="200px">
  <% for (field in fondo) {%>
  <% if (field != 'dep') { %>
      <strong><%= field %>: </strong> <%= fondo[field] %>
      <br />
  <% } else {  %> 
    <%
    dep = fondo[field]
      for (let depField in dep) {
      %>
      <strong><%=depField%>: </strong>
      <ul>
        <%
        for (depProp in dep[depField][0]) {%>
          <li>
            <strong> <%= depProp %>:</strong> <%= dep[depField][0][depProp] %>
          </li>
        <%
        } %>
      </ul>
      <%
      } %>
    <%
    } %>

  <% } %>
</div>

<script src="/scripts/s3ImageUrl.js"></script>

<%- include('../partials/footer') -%>
