<%- include('../partials/header') -%>

<div class="container" style="width: 50%; padding: 20px 4vw">
  <% 
  fondo = data.data[data.data['main']][0];
  %>
  <img src="<%=fondo['imagen_path']%>" alt="">
  <% for (field in fondo) {%>
  <% if (field != 'dep') { %>
      <strong><%= field %>: </strong> <%= fondo[field] %>
      <br />
  <% } else {  %> 
    <%
    dep = fondo[field]
      for (let depField in dep) {
      %>
      <strong><%=depField%>: </strong>
      <ul>
        <%
        for (depProp in dep[depField][0]) {%>
          <li>
            <strong> <%= depProp %>:</strong> <%= dep[depField][0][depProp] %>
          </li>
        <%
        } %>
      </ul>
      <%
      } %>
    <%
    } %>

  <% } %>
</div>

<%- include('../partials/footer') -%>
