<%- include('../partials/header') -%> 

<main>

<section class="home-section container top btm">
    <div class="row align-items-center">
        <div class="text col col-12 col-lg-6  order-2-lg">
            <h2 class="about-text">
                Un espacio digital abierto para la documentación, conservación y consulta de textiles que narran la vida en medio del conflicto armado en Colombia.
            </h2>
            <button class="btn white" href="#">
                Saber más 

                <img class="arrow-btn" src="/img/icons/arrow-btn.svg">

            </button>
        </div>

        <div class="img first-on-large col col-12 col-lg-6  order-1-lg">
            <img src="/img/home.png" alt="">
        </div>
    </div>

    <div class="row align-items-center">
        <img class="chevron" src="/img/icons/chevron_down.svg" alt="">
    </div>

</section>

<section class="home-section preview-fondo container top ">
    <% 
    var creadores = data.data[data.data['main']]
    for (var i = 0; i < creadores.length; ++i) {
    if (creadores[i]['dep'] != undefined)
        dep = creadores[i]['dep']
    lugar = dep['lugar'][0]
    %>

    <div class="fondo row align-items-center btm ">
        <div class="img col col-12 col-lg-6 top">
            <img src="/img/linea_mampujan.png" alt=""> 
            <img src="/img/azul_mampujan.jpg" alt="" style="display:none">
        </div>

        <%  if (creadores[i]['dep'] != undefined) { %>
        <div class="text col col-12 col-lg-5 offset-lg-1 btm">
            <p class="card-lugar">
                <%=lugar['lugar_departamento']%>, 
                <%=lugar['lugar_localidad']%>
            </p>
        <%
            }
        %>
            <h2><%=creadores[i]['nombre']%></h2>
            <p> Un grupo de tejedoras que desde el 2004, cuatro años después de ser desplazadas forzosamente de sus veredas en el municipio de María La Baja en la región de los Montes de María, no han parado de tejer para reclamar y construir paz.</p>
            <a href="/creadores/<%=creadores[i]['id']%>">
                <button class ="btn blue">Conocer más</button>
            </a>
        </div>
    </div>
    <%
        }
    %>
    
</section>


 <!-- <div class="home-cards">
<% 
    var creadores = data.data[data.data['main']]
    for (var i = 0; i < creadores.length; ++i) {
    if (creadores[i]['dep'] != undefined)
        dep = creadores[i]['dep']
    lugar = dep['lugar'][0]
%>
    <div class="card-img">
        <img src="/img/image--002.jpg" alt="">
    </div>
    <div class="content">
<%  if (creadores[i]['dep'] != undefined) { %>
    <p class="card-lugar">
        <%=lugar['lugar_departamento']%>, 
        <%=lugar['lugar_localidad']%>
    </p>
<%
    }
%>
    <h2><%=creadores[i]['nombre']%></h2>
    <p> Un grupo de tejedoras que desde el 2004, cuatro años después de ser desplazadas forzosamente de sus veredas en el municipio de María La Baja en la región de los Montes de María, no han parado de tejer para reclamar y construir paz.</p>
    <a href="/creadores/<%=creadores[i]['id']%>">
        <button>Conocer más</button>
    </a>
    </div>
<%
    }
%>

</div> -->

</main>

<!-- <div class="hands">
    <p class="text">
        “Transformar en el remiendo, pasar de
        una cosa que uno quiera a otra nueva, si
        hay algo perdido transformarlo en algo

        mejor”
    </p>
</div>

<div class="universidades">

    <h2>Universidades que hacen parte del proyecto</h2>
    <div class="universidad">
        
    </div>
</div>
-->

<%- include('../partials/footer') -%>