<%- include('../../partials/header') -%>
<link rel="stylesheet" href="/stylesheets/admin.css">

<div class="container-fluid" style="width: 100vw; background-color: #2727E5; margin-top: 115px;">
    <%- include('../../partials/adminNav') -%>
</div>

<main>
    <div class="admin-cards">
        <h3>Creadores</h3>
        <table>
            <% 
            var creadores = data.data['creadores']; 
            var tipos = ['público', 'privado', 'mixto']
            for (var i = 0; i < creadores.length; ++i) { 
            %>
            <tr>
                <td style="padding: 0px 15px;">
                    <p><%=creadores[i]['id']%></ap>
                </td>
                <td>
                    <p><%=creadores[i]['nombre'].substring(0, 40)%></ap>
                </td>
                <td>
                    <form method="get" action="/admin/creadores/edit/<%=creadores[i]['id']%>">
                        <button style="color: blue; border-color: blue;" type="submit">editar</button> </form>
                <td>
                    <form method="post" action="/admin/creadores/delete/<%=creadores[i]['id']%>?_method=DELETE">
                        <button style="color: red; border-color: red;" type="submit">eliminar</button> </form>
                </td>
            </tr>
            <% 
            } 
            %>
        </table>
    </div>
    <div class="form-class">
        <form action="/admin/creadores/new" method="POST">
            <h3>Nuevo Creador</h3>
            <table>
                <tr>
                    <td><label for="pass">nombre</label></td>
                    <td><input type="text" name="obj[nombre]" class="text-input" required></td>
                </tr>
                <tr>
                    <td><label for="pass">imagen (s3 key)</label></td>
                    <td><input type="text" name="obj[imagen_path]" class="text-input"></td>
                </tr>
                <tr>
                    <td><label for="pass">descripción <br> imagen</label></td>
                    <td>
                        <input type="text" name="obj[imagen_descripcion]" class="text-input">
                    </td>
                </tr>
                <tr>
                    <td><label for="pass">tipo</label></td>
                    <td>
                        <select id="tipo" name="obj[tipo]">
                            <option value="0">público</option>
                            <option value="1">privado</option>
                            <option value="2">mixto</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="pass">reseña</label></td>
                    <td><textarea name="obj[resena]" id="" cols="33" rows="5"></textarea></td>
                </tr>
                <tr>
                    <td><label for="pass">sociopolítico</label></td>
                    <td><textarea name="obj[sociopolitico]" id="" cols="33" rows="7"></textarea></td>
                </tr>
                <tr>
                    <td><label for="pass">caracterización</label></td>
                    <td><textarea name="obj[caracterizacion]" id="" cols="33" rows="7"></textarea></td>
                </tr>
                <tr>
                    <td><label for="pass">documentos</label></td>
                    <td>
                        <button id="myBtn" style="width: 100%;"> modificar documentos </button>
                        <input type="text" id="json-input"name="obj[documentos_json]" class="text-input">
                    </td>
                </tr>
                <tr>
                    <td><label for="pass">resp nombre</label></td>
                    <td>
                        <input type="text" name="obj[responsable_nombre]" class="text-input">
                    </td>
                </tr>
                <tr>
                    <td><label for="pass">resp celular</label></td>
                    <td>
                        <input type="text" name="obj[responsable_celular]" class="text-input">
                    </td>
                </tr>
                <tr>
                    <td><label for="pass">resp correo</label></td>
                    <td>
                        <input type="text" name="obj[responsable_correo]" class="text-input">
                    </td>
                </tr>
                <tr>
                    <td><label for="pass">ilustración 1 (s3 key)</label></td>
                    <td>
                        <input type="text" name="obj[il_1_path]" class="text-input">
                    </td>
                </tr>
                <tr>
                    <td><label for="pass">ilustración 1 descripción</label></td>
                    <td>
                        <input type="text" name="obj[il_1_desc]" class="text-input">
                    </td>
                </tr>
                <tr>
                    <td><label for="pass">ilustración 2 (s3 key)</label></td>
                    <td>
                        <input type="text" name="obj[il_2_path]" class="text-input">
                    </td>
                </tr>
                <tr>
                    <td><label for="pass">ilustración 2 descripción</label></td>
                    <td>
                        <input type="text" name="obj[il_2_desc]" class="text-input">
                    </td>
                </tr>
                <tr>
                    <td><label for="pass">imagen linea (s3 key)</label></td>
                    <td>
                        <input type="text" name="obj[img_linea_path]" class="text-input">
                    </td>
                </tr>
                <tr>
                    <td><label for="pass">imagen azul (s3 key)</label></td>
                    <td>
                        <input type="text" name="obj[img_azul_path]" class="text-input">
                    </td>
                </tr>

                <tr>
                    <td><label for="pass">lugar id</label><a href="/admin/lugares" target="_blank"> (Ver Lugares)</a></td>
                    <td><input type="number" name="obj[fk_lugar]" class="text-input" required></td>
                </tr>
            </table>
            <br>
            <button type="submit">Crear</button>
        </form>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="scroll">
            <table id="myTable" style="width: 100%;">
            </table>
            </div>
            <button id="myBtnAdd" style="margin-left: 20px;">+</button>
            <button id="myBtnAcc" style="margin-left: 20px;">Aceptar</button>
        </div>

    </div>
    

</main>
<script src="/scripts/jsonParser.js" type="text/javascript"></script>
<script> 
    //parseJsonObj("myTable", "json-input", "myModal", "myBtn", "myBtnAdd", "myBtnAcc", "close");
    var documentParser = new JsonParser("myTable", "json-input", "myModal", "myBtn", "myBtnAdd", "myBtnAcc", "close", {'name':'', 'url': ''});
    documentParser.WorkParser();
</script>

