<%- include('../../partials/header') -%>
<link rel="stylesheet" href="/stylesheets/admin.css">

<div class="container-fluid" style="width: 100vw; background-color: #2727E5; margin-top: 115px;">
    <%- include('../../partials/adminNav') -%>
</div>
<main>
    <style>
        button {
            display: inline-block;
        }
    </style>
    <div class="admin-cards">
        <h3>Hechos</h3>
        <table>
            <% 
            var hechos = data.data['hechos']; 
            for (var i = 0; i < hechos.length; ++i) { 
            %>
            <tr>
                <td style="padding: 0px 15px;">
                    <p><%=hechos[i]['id']%></ap>
                </td>
                <td style="max-width: 400px;">
                    <p><%=hechos[i]['relato'].substring(0, 100) + "..."%></ap>
                </td>
                <td>
                    <form method="get" action="/admin/hechos/edit/<%=hechos[i]['id']%>">
                    <button style="color: blue; border-color: blue;" type="submit">editar</button> </form>
                <td>
                    <form method="post" action="/admin/hechos/delete/<%=hechos[i]['id']%>?_method=DELETE">
                    <button style="color: red; border-color: red;" type="submit">eliminar</button> </form>
                </td>
            </tr>
            <% 
            } 
            %>
        </table>
    </div>
    <div class="form-class">
        <form action="/admin/hechos/new" method="POST">
            <h3>Nuevo Hecho</h3>
            <table>
                <tr>
                    <td><label for="pass">tipo</label></td>
                    <td> <select id="tipo" name="obj[tipo]" required>
                            <option value="0">violento</option>
                            <option value="1">resistencia</option>
                            <option value="2">sobrevivencia</option>
                        </select> </td>
                </tr>
                
                <tr>
                    <td><label for="pass">actores (,)</label></td>
                    <td><input type="text" name="obj[actores]" class="text-input"></td>
                </tr>
                <tr>
                    <td><label for="pass">modalidad (;)</label></td>
                    <td>
                        <input type="text" name="obj[modalidad]" class="text-input" required id="input-modalidades"> <br>
                        <select id="drop-modalidades" class="mt-4">
                            <option style="display: none;">Añadir modalidades</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    
                    <td><label for="pass">acciones de <br> resistencia y sobrevivencia (;)</label></td>
                    <td>
                        <input type="text" name="obj[acciones_resistencia_sobrevivencia]" class="text-input" id="input-acciones"> <br> 
                        <select id="drop-acciones" class="mt-4">
                            <option style="display: none;">Añadir acciones</option>
                        </select>
                    </td>
                    
                </tr>
                <tr>
                    <td><label for="pass">relato</label></td>
                    <td><textarea name="obj[relato]" id="" cols="33" rows="5"></textarea></td>
                </tr>
                <tr>
                    <td><label for="pass">fecha</label></td>
                    <td><input type="text" name="obj[fecha]" class="text-input"></td>
                </tr>
                <tr>
                    <td><label for="pass">lugar id</label></td>
                    <td><input type="number" name="obj[fk_lugar]" class="text-input" required></td>
                </tr>
            </table> <br> <button type="submit">Crear</button>
        </form>
    </div>
</main>

<script>
    var acciones = 
    ['marchas', 'plantones', 'rituales colectivos', 'conmemoraciones', 'altares', 'asambleas comunitarias', 'tomas y festivales culturales'];
    
    var modalidades = 
    ['desplazamiento forzado', 'asesinato selectivo', 'desaparición forzada', 'secuestro', 'masacre', 'acciones bélicas', 'ataques a bienes civiles', 'sevicia y tortura', 'despojo y extorsiones', 'reclutamiento ilícito', 'atentados terroristas', 'amenazas', 'minas antipersonal (MAP)', 'artefactos explosivos (AEI)', 'municiones sin explosionar (MUSE)', 'bloqueos', 'confinamiento', 'violencia sexual'];
    var docAcciones = document.getElementById("drop-acciones");
    var docModalidades = document.getElementById("drop-modalidades");

    for (let i = 0; i < acciones.length; ++i)
    {
        var option = document.createElement("option");
        option.text = acciones[i];
        docAcciones.add(option);
    }

    for (let i = 0; i < modalidades.length; ++i)
    {
        var option = document.createElement("option");
        option.text = modalidades[i];
        docModalidades.add(option);
    }

    docAcciones.addEventListener('change', function()
    {
        AddToInput('input-acciones', docAcciones);
    })

    docModalidades.addEventListener('change', function()
    {
        AddToInput('input-modalidades', docModalidades);
    })
    
    function AddToInput(inputId, drop)
    {
        var docInput = document.getElementById(inputId);

        var docInputValue = docInput.value.toString();

        console.log(docInputValue.substr(-2));
        if (docInputValue.substr(-2) == "; " || docInputValue.length == 0 || docInputValue.substr(-1) == "; ")
            docInput.value += " " + drop.value + "; ";
        else 
            docInput.value += "; " + drop.value + "; ";
    }
    
</script>