<%- include('../../partials/header') -%>
<link rel="stylesheet" href="/stylesheets/admin.css">
<main>
    <div class="admin-cards">
        <h3>piezas</h3>
        <table>
        <% 
        var piezas = data.data['piezas']; 
        //var tipos = ['público', 'privado', 'mixto']
        for (var i = 0; i < piezas.length; ++i) { 
        %>
            <tr>
                <td style="padding: 0px 15px;">
                    <p><%=piezas[i]['id']%></ap>
                </td>
                <td>
                    <p><%=piezas[i]['titulo'].substring(0, 40)%></p>
                </td>
                <td>
                    <form method="get" action="/admin/piezas/edit/<%=piezas[i]['id']%>">
                        <button style="color: blue; border-color: blue;" type="submit">editar</button> </form>
                </td>
                <td>
                    <form method="post" action="/admin/piezas/delete/<%=piezas[i]['id']%>?_method=DELETE">
                        <button style="color: red; border-color: red;" type="submit">eliminar</button> </form>
                </td>
            </tr>
        <% 
        }
        %>
        </table>
    </div>
    <div class="form-class">
        <form action="/admin/piezas/new" method="POST">
            <h3>Nueva Pieza</h3>
            <table>
                <tr>
                    <td><label for="pass">título</label></td>
                    <td><input type="text" name="obj[titulo]" class="text-input" required></td>
                </tr>
                <tr>
                    <td><label for="pass">codigo</label></td>
                    <td><input type="text" name="obj[codigo]" class="text-input" required></td>
                </tr>
                <tr>
                    <td><label for="pass">imagen (s3 key)</label></td>
                    <td><input type="text" name="obj[imagen_path]" class="text-input" ></td>
                </tr>
                <tr>
                    <td><label for="pass">descripción de <br> la imagen</label></td>
                    <td><textarea name="obj[imagen_descripcion]" cols="33" rows="7"></textarea></td>
                </tr>
                <tr>
                    <td><label for="pass">detalle (s3 key)</label></td>
                    <td><input type="text" name="obj[detalle_path]" class="text-input" ></td>
                </tr>
                <tr>
                    <td><label for="pass">descripción del <br> detalle</label></td>
                    <td><textarea name="obj[detalle_descripcion]" cols="33" rows="7"></textarea></td>
                </tr>
                <tr>
                    <td><label for="pass">descripción de <br> las imagenes</label></td>
                    <td>
                        <button id="myBtnImg" style="width: 100%;"> modificar descripciones </button>
                        <input style="display: none" type="text" id="json-input-img" name="obj[imagenes_descripcion_json]" class="text-input">
                    </td>
                </tr>
                <tr>
                    <td><label for="pass">autores <br> (-) </label></td>
                    <td><textarea name="obj[autores]" cols="33" rows="7"></textarea></td>
                </tr>
                <tr>
                    <td><label for="pass">fecha</label></td>
                    <td><input type="text" name="obj[fecha]" class="text-input" ></td>
                </tr>
                <tr>
                    <td><label for="pass">entidad</label></td>
                    <td>
                        <button id="myBtnEnt" style="width: 100%;"> modificar entidad </button>
                        <input style="display: none" type="text" id="json-input-ent" name="obj[entidad_json]" class="text-input">
                    </td>
                </tr>
                <tr>
                    <td><label for="pass">tematicas (,)</label></td>
                    <td>
                        <input type="text" name="obj[tematicas]" class="text-input" id = "input-tematicas"> <br>
                        <select id="drop-tematicas" class="mt-4" >
                            <option style="display: none;">Añadir Tematicas</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="pass">relato del <br> hecho</label></td>
                    <td><textarea name="obj[hecho_relato]" cols="33" rows="7"></textarea></td>
                </tr>
                <tr>
                    <td><label for="pass">relato de la <br> pieza</label></td>
                    <td><textarea name="obj[relato_pieza]" cols="33" rows="7"></textarea></td>
                </tr>
                <tr>
                    <td><label for="pass">audio (s3 key)</label></td>
                    <td><input type="text" name="obj[audio_path]" class="text-input" ></td>
                </tr>
                <tr>
                    <td><label for="pass">descriptores (,)</label></td>
                    <td>
                        <input type="text" name="obj[descriptores]" class="text-input" id="input-descriptores"> <br>
                        <select id="drop-descriptores" class="mt-4" >
                            <option style="display: none;">Añadir Descriptores</option>
                        </select>    
                    </td>
                    
                </tr>
                <tr>
                    <td><label for="pass">ancho</label></td>
                    <td><input type="text" name="obj[ancho]" class="text-input" ></td>
                </tr>
                <tr>
                    <td><label for="pass">alto</label></td>
                    <td><input type="text" name="obj[alto]" class="text-input" ></td>
                </tr>
                <tr>
                    <td><label for="pass">espesor</label></td>
                    <td><input type="text" name="obj[espesor]" class="text-input" ></td>
                </tr>
                <tr>
                    <td><label for="pass">tipo de <br>textil</label></td>
                    <td><input type="text" name="obj[tipo_textil]" class="text-input" ></td>
                </tr>
                <tr>
                    <td><label for="pass">materiales (,)</label></td>
                    <td><input type="text" name="obj[materiales]" class="text-input" ></td>
                </tr>
                <tr>
                    <td><label for="pass">tecnicas (,)</label></td>
                    <td>
                        <input type="text" name="obj[tecnicas]" class="text-input" id="input-tecnicas"> <br>
                        <select id="drop-tecnicas" class="mt-4" >
                            <option style="display: none;">Añadir Tecnicas</option>
                        </select>
                        
                    </td>
                </tr>
                <tr>
                    <td class="td-pequeno"><label for="pass">conservacion</label></td>
                    <td><input type="text" name="obj[conservacion]" class="text-input" ></td>
                </tr>
                <tr>
                    <td><label for="pass">usos</label></td>
                    <td><textarea name="obj[usos]" cols="33" rows="7"></textarea></td>
                </tr>
                <tr>
                    <td><label for="pass">eventos</label></td>
                    <td>
                        <button id="myBtnEvt" style="width: 100%;"> modificar eventos </button>
                        <input style="display: none" type="text" id="json-input-evt" name="obj[eventos_json]" class="text-input">
                    </td>
                </tr>
                <tr>
                    <td><label for="pass">documentos</label></td>
                    <td>
                        <button id="myBtn" style="width: 100%;"> modificar documentos </button>
                        <input type="text" id="json-input"name="obj[documentos_json]" class="text-input">
                    </td>
                </tr>
                <tr>
                    <td><label for="pass">consentimiento</label></td>
                    <td><input type="text" name="obj[consentimiento_path]" class="text-input" ></td>
                </tr>
                <tr>
                    <td><label for="pass">galeria (s3 key)</label></td>
                    <td><input type="text" name="obj[galeria_path]" class="text-input" ></td>
                </tr>
                <tr>
                    <td><label for="pass">fotografo</label></td>
                    <td><input type="text" name="obj[fotografo]" class="text-input" ></td>
                </tr>
                <tr>
                    <td><label for="pass">autor <br> ficha (,)</label></td>
                    <td><input type="text" name="obj[autor_ficha]" class="text-input" ></td>
                </tr>
                <tr>
                    <td><label for="pass">fecha <br> rdtc (,)</label></td>
                    <td><input type="text" name="obj[fecha_rdttc]" class="text-input" ></td>
                </tr>
                <tr>
                    <td><label for="pass">creador id</label><a href="/admin/creadores" target="_blank"> (Ver Creadores)</a></td>
                    <td><input type="number" name="obj[fk_creador]" class="text-input" required></td>
                </tr>
                <tr>
                    <td><label for="pass">coleccion id</label><a href="/admin/colecciones" target="_blank"> (Ver colecciones)</a></td>
                    <td><input type="number" name="obj[fk_coleccion]" class="text-input" required></td>
                </tr>
                <tr>
                    <td><label for="pass">hecho id</label><a href="/admin/hechos" target="_blank"> (Ver Hechos)</a></td>
                    <td><input type="number" name="obj[fk_hecho]" class="text-input" required></td>
                </tr>
            </table>
            <br>
            <button type="submit">Crear</button>
        </form>
    </div>

    <!-- The Modal -->
    <div id="myModalEnt" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="scroll">
            <table id="myTableEnt" style="width: 100%;">
            </table>
        </div>
            <button id="myBtnAddEnt" style="margin-left: 20px;">+</button>
            <button id="myBtnAccEnt" style="margin-left: 20px;">Aceptar</button>
        </div>

    </div>

    <!-- The Modal -->
    <div id="myModalEvt" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close1">&times;</span>
            <div class="scroll">
            <table id="myTableEvt" style="width: 100%;">
            </table>
        </div>
            <button id="myBtnAddEvt" style="margin-left: 20px;">+</button>
            <button id="myBtnAccEvt" style="margin-left: 20px;">Aceptar</button>
        </div>

    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close2">&times;</span>
            <div class="scroll">
            <table id="myTable" style="width: 100%;">
            </table>
        </div>
            <button id="myBtnAdd" style="margin-left: 20px;">+</button>
            <button id="myBtnAcc" style="margin-left: 20px;">Aceptar</button>
        </div>

    </div>

    <!-- The Modal -->
    <div id="myModalImg" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close3">&times;</span>
            <div class="scroll">
            <table id="myTableImg" style="width: 100%;">
            </table>
        </div>
            <button id="myBtnAddImg" style="margin-left: 20px;">+</button>
            <button id="myBtnAccImg" style="margin-left: 20px;">Aceptar</button>
        </div>

    </div>
</main>

<script src="/scripts/jsonParser.js" type="text/javascript"></script>
<script> 

    // Drop Tecnicas
    var tecnicas = ["apliques tridimensionales","bordado","costura a mano","costura a máquina","crochet","escultura blanda - muñecas","esténcil sobre tela","pintura sobre tela","sublimación sobre tela","tela sobre icopor o falso patchwork","tela sobre tela"];
    var docTecnicas = document.getElementById("drop-tecnicas");
    var tematicas = ["Conmemoraciones","Memorias del dolor y la dignidad","Memorias de resistencia y sobrevivencia","Movilización social","Vida cotidiana"];
    var docTematicas = document.getElementById("drop-tematicas");
    var descriptores = ["actores armados","altar a la virgen","animales domésticos","antorchas","años","árbol","árbol de choibá","arroyo","asesinatos","camino","campo","cancha","canoa","cárcel","carro","casa","cazador","ciudad","corazón","cruz","escuela","flor","fosas comunes","gallina","helicóptero","hombre","hombres jugando béisbol","huerta","jóvenes","luna","maíz","mano","mapa","mapa de Colombia","mariposa","mensaje","montañas","mujer","mujer cocinando","música","niña"];
    var docDescriptores = document.getElementById("drop-descriptores");

    for ( let i = 0; i < tematicas.length; ++i ) {

        var option = document.createElement("option");
        option.text = tematicas[i];
        docTematicas.add( option );
    }

    for ( let i = 0; i < tecnicas.length; ++i ) {

        var option = document.createElement("option");
        option.text = tecnicas[i];
        docTecnicas.add( option );
    }

    for ( let i = 0; i < descriptores.length; ++i ) {

        var option = document.createElement("option");
        option.text = descriptores[i];
        docDescriptores.add( option );
    }

    docTecnicas.addEventListener('change', function()
    {
        AnadirOpcion('input-tecnicas', docTecnicas);
    })

    docTematicas.addEventListener('change', function()
    {
        AnadirOpcion('input-tematicas', docTematicas);
    })

    docDescriptores.addEventListener('change', function()
    {
        AnadirOpcion('input-descriptores', docDescriptores);
    })

    function AnadirOpcion( inputId, drop ) {
        var docInput = document.getElementById( inputId ); 
        var docInputValue = docInput.value.toString();

        
        if (docInputValue.substr(-2) == ", " || docInputValue.length == 0 || docInputValue.substr(-1) == "; ")
            docInput.value += " " + drop.value + ", ";
        else 
            docInput.value += ", " + drop.value + ", ";
    }



    //parseJsonObj("myTable", "json-input", "myModal", "myBtn", "myBtnAdd", "myBtnAcc", "close");
    var entParser = new JsonParser("myTableEnt", "json-input-ent", "myModalEnt", "myBtnEnt", "myBtnAddEnt", "myBtnAccEnt", "close", {'name':'', 'url': ''});
    entParser.WorkParser();

    var evtParser = new JsonParser("myTableEvt", "json-input-evt", "myModalEvt", "myBtnEvt", "myBtnAddEvt", "myBtnAccEvt", "close1", {'name':'', 'place': '', 'date': ''});
    evtParser.WorkParser();

    var documentParser = new JsonParser("myTable", "json-input", "myModal", "myBtn", "myBtnAdd", "myBtnAcc", "close2", {'name':'', 'url': ''});
    documentParser.WorkParser();

    var imgParser = new JsonParser("myTableImg", "json-input-img", "myModalImg", "myBtnImg", "myBtnAddImg", "myBtnAccImg", "close3", {'s3key':'', 'desc': ''});
    imgParser.WorkParser();
</script>